.login {
  width: 100%;
  height: 100%;
  background-image: url('images//bg.jpg');
  background-size: 100% 100%;
  position: relative;
}
.login .login-header {
  width: 100%;
  height: 80px;
  background-color: rgba(21, 20, 13, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.login .login-header img {
  width: 40px;
  height: 40px;
  margin: 0 15px 0 50px;
}
.login .login-header h1 {
  font-size: 30px;
  color: #FFFFFF;
}
.login .login-content {
  width: 400px;
  height: 300px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  padding: 20px 40px;
}
.login .login-content .error-msg {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 30px;
  width: 100%;
  background: #f60c1a;
  color: #ffffff;
  font-size: 16px;
  transform: translateY(-30px);
  transition: all 0.3s;
}
.login .login-content .error-msg.show {
  visibility: visible;
  transform: translateY(0);
}
.login .login-content h2 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.login .login-content .login-form .login-form-button {
  width: 100%;
}
