.link-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: #1DA57A;
  cursor: pointer;
}
.link-button:hover,
.link-button:active,
.link-button:focus {
  color: rgba(29, 165, 122, 0.4);
}
