.product-detail .back-arrow {
  margin-right: 15px;
  font-size: 20px;
}
.product-detail .detial-item-left {
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}
.product-detail .product-img {
  width: 150px;
  height: 150px;
  border: 1px solid #002140;
  margin-right: 10px;
}
.product-detail .ant-list-item {
  justify-content: flex-start;
}
